<ion-view title="Event Description">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <button class="button button-stable button-icon  icon-left ion-android-arrow-back"></button>
        <div>
            <p>Andry Lora</p>
        </div>
        <form class="list"></form>
        <div>
            <p>Kanye West Tour</p>

            <p>Friday 03 June 2016</p>

            <p>The Governors Ball Music Festival 2016</p>
        </div>
        <form class="list"></form>
        <form class="list">
            <ion-checkbox>Attending</ion-checkbox>
        </form>
        <ion-list></ion-list>
        <div></div>
        <form class="list"></form>
        <div>
            <p>Randall's Island, New York, NY, US</p>
        </div>
        <form class="list"></form>
        <form class="list"></form>
    </ion-content>
</ion-view>